* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
  }

  a {
    text-decoration: none;
  }

  .sidebar {
    width: 84px;
    background: white;
    padding: 5.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    height: 100vh;
    border-right: 1px solid #eee;
  }

  .sidebar-icon a:hover {
    color: #a6a6a6;
  }

  .sidebar-icon {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    cursor: pointer;
    position: relative;
  }

  .sidebar-icon a {
    font-size: 1.3rem;
    color: #1d1d1d;
  }

  #active {
    color: #a6a6a6;
  }

  .sidebar .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 4rem;
    margin-top: -2rem;
  }

  .sidebar div:hover {
    color: #00000085;
  }

  .main-content {
    flex: 1;
    padding: 1rem;
    margin-left: 84px;
  }

  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }

  .sub-title{
    font-size: 2rem;
    color: black;
  }

  a {
    color: black;
  }

  .progress-container {
    width: 100%;
    height: 12px;
    background-color: #e8f5e9;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .progress-bar {
    width: 47%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 6px;
    transition: width 1s ease;
  }

  .progress-font {
    display: flex;
    justify-content: center;
    color: #2196f3;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1.5rem;
  }

  .timeline {
    position: relative;
  }

  .timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.5s forwards;
  }


  .date-range {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: #333;
  }


  .show-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem;
    border-radius: 25px;
    background-color: #e8f5e9;

  }

  .show-data p {
    font-size: 18px;
  }

  .show-data #pemasukan{
    color: green;
  }

  .show-data #pengeluaran{
    color: red;
  }

  #first-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #1877f2;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: background 0.3s;
  }

  #first-btn:hover {
    background-color: #0d5bc0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);

  }

